@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0e1f1f;
    --background: #edf8f7;
    --primary: #296b66;
    --secondary: #82d4cf;
    --accent: #329f98;
  }
  .dark {
    --text: #dff1f1;
    --background: #071211;
    --primary: #94d6d1;
    --secondary: #2b7d78;
    --accent: #60cdc6;
  }
}

,
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.hidescroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
