.loaderrr {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid #ff3d00;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loaderrr::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 4px;
  border: 2px solid #121212;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.light {
  --bg: rgba(0, 0, 0, 0.2);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --border: rgba(0, 0, 0, 0.3);
  --text: rgb(32, 32, 32);
}
.dark {
  --bg: rgba(12, 11, 11, 0.9);
  --box-shadow: rgba(136, 136, 136, 0.1);
  --border: rgba(128, 128, 128, 0.3);
  --text: rgb(237, 237, 237);
}
.glassmorph {
  background: var(--bg);
  box-shadow: 0 4px 30px var(--box-shadow);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--border);
  color: var(--text);
}

.loginBg {
  background-image: url("../public/login.png");
  height: 90px;
  width: 250px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
